.project-body
  .row.company-logo
    .small-12.columns
      %center
        %img.noble-brewer{src: "../images/noble-brewer-logo-dark.svg", width: "298", height: "84"}

  .row.company-summary
    .small-12.columns
      %center
        %p
          Noble Brewer pairs expert home brewers with production breweries to bring unique, one-of-a-kind beer to subscribers across the country.

  .row.project-intro
    .small-12.medium-8.columns
      %h3
        Project: User Research & Persona Development
      %p
        Noble Brewer wanted a more complete customer personality profile to guide design decisions and product direction. Our design team performed extensive behavioral research and synthesized it into a three persona groups and a single persona representing a model Noble Brewer customer. The result was a theoretical persona detailing the needs, behaviors, and motivations of make-believe people. This made it easier for Noble Brewer to orient their marketing and product development efforts to the needs and goals of real people.

    .small-12.medium-4.columns
      %h3
        My Role
      %p
        I worked with a team of 3 designers to recruit & interview research participants, synthesize the interview data, and build a researched and validated persona. I most enjoyed leading behavioral interviews and talking with research participants.

  .row.process-summary
    .small-12.columns
      .callout-box
        .top
          .marker-container.left
            .marker
        .middle
          .content-container
            .row
              .small-12.medium-8.columns
                %h4
                  The Process
                %ol
                  %li
                    %h5
                      Building Provisional Personas
                    %p
                      After brainstorming with project stakeholders and design team members, we were able to build a starting hypothesis in the form of two “provisional personas”.
                  %li
                    %h5
                      Recruiting Research Participants
                    %p
                      Using the provisional personas as a guide, we created an online screening survey to build a list of exemplary research candidates. We teamed up with the Noble Brewer growth team to send the screening survey to a large group of potential research candidates. Qualifying research candidates were scheduled for a 30 minute behavioral interview and in return received a $25.00 Amazon gift card.
                  %li
                    %h5
                      Interviewing Participants
                    %p
                      Qualified participants completed a 30-minute behavioral interview via phone. The objective was gather data about customer’s needs, motivations, and behaviors when it came to consuming and discovering food & drink.
                  %li
                    %h5
                      Synthesizing Research
                    %p
                      After re-playing recorded interviews, we extracted insights and created affinity maps to distill common behaviors, needs, motivations, and other insights. Once all of the data was mapped, we discovered that 7 distinct personality facets emerged among the research participants. Each participant exhibited different levels of each personality facet.
                  %li
                    %h5
                      Validated Persona
                    %p
                      Upon looking at all participants’ personality profiles, each participant fell into one of three persona groups representing each set of personalities. We delivered a single persona representing the most likely Noble Brewer customer.
                  %li
                    %h5
                      Recommendations
                    %p
                      Our research uncovered lots of interesting insights and data related to beer purchasing behavior, consumption preferences, and participation in the craft brew community. In addition to a validated persona, we passed these finding on to the Noble Brewer team and made some marketing & design recommendations.

              .small-12.medium-4.columns
                %h4
                  Tools & Techniques
                %ul.right-list
                  %li
                    Behavioral Interviewing
                  %li
                    Personas
                  %li
                    Telephone & Hangouts
                  %li
                    Audio Recorder
                  %li
                    Affinity Mapping
                  %li
                    Sketch

        .bottom

  .row.project-details-header
    .small-12
      %h3
        Project Details
  .row.project-step
    .small-12
      %h4
        1. Building Provisional Personas
      %p.step-description
        Our design team brainstormed with the Noble Brewer team to list the behaviors, needs, and loose demographics of current and potential Noble Brewer customers. We built two provisional personas from these brainstorms to serve as a hypothesis and starting point from which to begin the research process. We ended up creating two provisional personas:
        %strong
          “Beer Aficionado”
        and
        %strong
          “Foodie”.
  .row.project-step-details
    .small-12.medium-6.columns.image-column
      %img.stickies{src: "../images/foodie-stickies.png", width: "298", height: "224"}
    .small-12.medium-6.columns.image-column
      %img.persona{src: "../images/foodie-persona-300x202.png", width: "380", height: "256"}

  .row.project-step-details
    .small-12.medium-6.columns.image-column
      %img.stickies{src: "../images/beerie-stickies.png", width: "298", height: "224"}
    .small-12.medium-6.columns.image-column
      %img.persona{src: "../images/beerie-persona.png", width: "380", height: "256"}

  .row.project-step
    .small-12
      %h4
        2. Recruiting Research Participants
      %p.step-description
        The Noble Brewer growth team helped us to obtain a list of research participants to recruit and interview. We wanted to find people who would exhibit some of the needs and behaviors characterized in our provisional personas ("Foodie" and "Beer Aficionado"). We also wanted participants who would provide a candid and complete profile of their behavior as it related to purchasing and consuming beer. Qualifying participants were rewarded with a $25.00 Amazon gift card upon completing a 30 minute phone interview.

  .row.sample-screener
    .small-12.columns
      .row
        .small-12.columns
          %h5 A few sample questions from the online screener:
      .row
        .small-12.columns
          .centered-callout
            %h5
              We wanted participants that:
            %ul
              %li
                Had a desire to explore and take risks in discovering new food and beverage experiences.
              %li
                Valued sharing culinary-type experiences with others.
              %li
                Had knowledge and at least some experience and interest in the microbrew or homebrew scene.
              %li
                Had a desire to learn the intricacies of crafting great food & beverage experiences.
      .row.sample-question
        .small-12.medium-6.columns
          .question-title
            I look for new restaurants and dining experiences:
          .answer-options
            %label
              %input{type: "radio", name: "new-experiences"}
              rarely.
            %label
              %input{type: "radio", name: "new-experiences"}
              every other week.
            %label
              %input{type: "radio", name: "new-experiences"}
              1 - 2 times per week.
            %label
              %input{type: "radio", name: "new-experiences"}
              3 - 4 times per week.
            %label
              %input{type: "radio", name: "new-experiences"}
              5+ times per week.
        .small-12.medium-6.columns
          .callout-box.right-border
            .top
            .middle
              .marker-container.center
                .small.marker
              .content-container
                %p
                  This is a standard qualifying question. The more they go out, the more qualified they are.
            .bottom

      .row.sample-question
        .small-12.medium-6.columns
          .question-title
            When dining on vacation, I tend to:
          .answer-options
            %label
              %input{type: "checkbox", name: "on-vacation"}
              venture out to find the best local spot.
            %label
              %input{type: "checkbox", name: "on-vacation"}
              find a high-end restaurant nearby.
            %label
              %input{type: "checkbox", name: "on-vacation"}
              try out the hotel restaurant.
            %label
              %input{type: "checkbox", name: "on-vacation"}
              order room service.
            %label
              %input{type: "checkbox", name: "on-vacation"}
              other
              %input{type: "text"}
        .small-12.medium-6.columns
          .callout-box.right-border
            .top
            .middle
              .marker-container
                .small.marker
              .content-container
                %p
                  This question helps qualify the “explorer” mentality.
            .bottom

      .row.sample-question
        .small-12.medium-6.columns
          .question-title
            In a few sentences, please describe your favorite dining experience in the past two weeks.
          .answer-options
            %textarea
        .small-12.medium-6.columns
          .callout-box.right-border
            .top
            .middle
              .marker-container
                .small.marker
              .content-container
                %p
                  People that can write a few clear and concise sentences about their experiences will make for better interviewees.
            .bottom

  .row.project-step
    .small-12
      %h4
        3. Interviewing Participants
      %p.step-description
        :plain
          Getting on the phone and talking to people was the most fun part of this process! We used a good speakerphone, a voice recorder, and some sticky notes. The sticky notes were used for two things: <strong>(1)</strong> as a loose guide in kicking-off the the conversation <strong>(2)</strong> to capture interesting insights to dig into later as the conversation rolled on. There was a delicate balance between having a somewhat guided conversation and not leading the interviewee too much.

  .row.project-step-details
    .small-12.medium-6.columns.image-column
      %img{src: "../images/convo-stickies-1.png", width: "460", height: "300"}
    .small-12.medium-6.columns
      .callout-box.right-border
        .top
        .middle
          .marker-container.center
            .small.marker
          .content-container
            %h5
              A flow to get the interviewee into a mental context.
            %p
              These questions attempted to get the interviewee’s mind into a past situational context. This brought about a more accurate recounting of their true behaviors.
        .bottom

  .row.project-step-details
    .small-12.medium-6.columns.image-column
      %img{src: "../images/convo-stickies-2.png", width: "460", height: "300"}
    .small-12.medium-6.columns
      .callout-box.right-border
        .top
        .middle
          .marker-container.center
            .small.marker
          .content-container
            %h5
              Some topics that We wanted to cover.
            %p
              These were some beer-related topics that we wanted to weave into the interview to uncover the interviewee’s beer-specific needs and behaviors.
        .bottom

  .row.project-step-details
    .small-12.medium-6.columns.image-column
      %img{src: "../images/convo-stickies-3.png", width: "460", height: "300"}
    .small-12.medium-6.columns
      .callout-box.right-border
        .top
        .middle
          .marker-container.center
            .small.marker
          .content-container
            %h5
              Interesting conversational hooks to revisit later in the interview.
            %p
              These were a few topics that came up during the conversation. We didn’t want to interrupt the interviewee’s verbal flow, so I just wrote them on post-its so I could remember to bring weave them into the conversation later on.
        .bottom

  .row.project-step
    .small-12
      %h4
        4. Synthesizing The Data
      %p.step-description
        :plain
          We replayed the interview recordings to capture the important behaviors, preferences, needs, feelings, and insights on note cards. We then arranged all notes onto a giant affinity map to establish some recurring themes. These affinity maps helped us identify seven distinct personality facets that characterized our interviewees. Every individual exhibited a different level of each personality facet.

  .row.project-step-details
    .small-12.medium-6.columns.image-column
      %img.affinity{src: "../images/affinity-1.png", width: "460", height: "141"}
      %img.affinity{src: "../images/affinity-2.png", width: "460", height: "228"}
      %img.affinity{src: "../images/affinity-room.png", width: "460", height: "261"}
    .small-12.medium-6.columns
      .callout-box.right-border
        .top
        .middle
          .marker-container.top
            .marker
          .content-container
            %h5
              Synthesized Personality Facets & Behaviors
            %ol
              %li
                %h6
                  Trendsetter
                %ul
                  %li
                    %p
                      is quick to share knowledge and insight through conversation and beer sampling
                  %li
                    %p
                      enthusiastically introduces inexperienced beer drinkers to innovative or avant garde recipes
              %li
                %h6
                  Student
                %ul
                  %li
                    %p
                      builds knowledge to better communicate and catalog experiences
                  %li
                    %p
                      has an appreciation for the art of making great beer
                  %li
                    %p
                      has attempted the home brewing process to gain more appreciation for the craft
                  %li
                    %p
                      knows of unique recipes, ingredients, and techniques in both large-scale craft brewing and home brewing

              %li
                %h6
                  Discerning Consumer
                %ul
                  %li
                    %p
                      has deep knowledge of products currently on the market
                  %li
                    %p
                      drinks beer intentionally by enjoying a product specifically chosen for the mood or situation
                  %li
                    %p
                      is frustrated by uninspiring beer lists that follow market trends rather than offering the best choices
                  %li
                    %p
                      recognizes that everyone's palate is different and sometimes a big-brand beer may be a great choice

              %li
                %h6
                  Explorer
                %ul
                  %li
                    %p
                      travels to discover new beers. will sometimes take a trip to a beer festival to discover a town's unique beer culture
                  %li
                    %p
                      enthusiastically tries wildly unique beers and often gives previously disliked beers another try to further refine their taste preferences
              %li
                %h6
                  Patron
                %ul
                  %li
                    %p
                      knows the local producers and retailers
                  %li
                    %p
                      opts to buy locally
                  %li
                    %p
                      is excited when a beer's inspiration or recipe is tied to the local ecosystem
                  %li
                    %p
                      seeks out beer that triggers nostalgic reminders of a time or place

              %li
                %h6
                  Paper Tiger
                %ul
                  %li
                    %p
                      stays slightly ahead trends and acquires just enough knowledge to appear adept 
                  %li
                    %p
                      social relate-ability and conversational agility are the primary goals of appearing knowledgeable and proficient in the areas of craft beers and craft cocktails

              %li
                %h6
                  Reveler
                %ul
                  %li
                    %p
                      loves catching up with friends over beers or cocktails on a more-than-weekly basis
                  %li
                    %p
                      the culinary experience takes a back seat to the social objective

        .bottom

  .row.project-step
    .small-12
      %h4
        5. Validated Persona
      %p.step-description
        :plain
          Upon looking at all participants’ personality profiles, each participant fell into one of three persona groups representing each set of personalities: <strong>The Follower</strong>, <strong>The Adventurer</strong>, <strong>The Aficionado</strong>. We delivered a single persona representing the most likely Noble Brewer customer - <strong>The Aficionado</strong>.

  .row.project-step-details
    .small-12.columns
      .callout-box.tier-summary
        .top
        .middle
          .content-container
            %h5
              Group #1 - The Follower
            %p
              The “follower” is open to trying new experiences, but doesn’t actively seek them out. It would take significant effort to get this persona to sign up for a quarterly beer subscription. They are likely to buy beer as a gift or purchase a one-off sample. The online buying experience should demonstrate Noble Brewer’s dedication to quality, safety, satisfaction, and reliable delivery.
        .bottom
          .marker-container.center
            .marker

  .row.project-step-details
    .small-12.medium-4.columns.image-column
      %img{src: "../images/allie-kiviat.png", width: "384", height: "334"}
    .small-12.medium-4.columns.image-column
      %img{src: "../images/brandon-kiviat.png", width: "380", height: "336"}
    .small-12.medium-4.columns.image-column
      %img{src: "../images/brian-kiviat.png", width: "378", height: "334"}

  .row.project-step-details
    .small-12.columns
      .callout-box.tier-summary
        .top
        .middle
          .content-container
            %h5
              Group #2 - The Adventurer
            %p
              The “adventurer” can discern high quality experiences from imitations. This persona seeks out novelty in food and drink and shares these stories with social circles. The customer experience for this persona should be a springboard for discovering and sharing beer. Additionally, Noble Brewer’s products should be provide intrigue and culinary delight that is worth talking about.
        .bottom
          .marker-container.center
            .marker

  .row.project-step-details
    .small-12.medium-6.columns.image-column
      %img{src: "../images/annmarie-kiviat.png", width: "384", height: "334"}
    .small-12.medium-6.columns.image-column
      %img{src: "../images/laurie-kiviat.png", width: "386", height: "334"}

  .row.project-step-details
    .small-12.columns
      .callout-box.tier-summary
        .top
        .middle
          .content-container
            %h5
              Group #3 - The Aficionado
            %p
              The “aficionado” knows a ton about beer and loves supporting the little guy. This persona has a highly refined palate, knows the players in the industry, and has sampled countless products. The aficionado is looking for a new avenue for discovering and sharing unique, small-batch, and extremely high quality beers. A beer subscription which supports local economies while delivering a vivid and one-of-a-kind taste of a home brewer’s local geography is a winning product.
        .bottom
          .marker-container.center
            .marker

  .row.project-step-details
    .small-12.medium-4.columns.image-column
      %img{src: "../images/scott-kiviat.png", width: "388", height: "336"}
    .small-12.medium-4.columns.image-column
      %img{src: "../images/nathan-kiviat.png", width: "388", height: "336"}
    .small-12.medium-4.columns.image-column
      %img{src: "../images/peter-kiviat.png", width: "382", height: "336"}

  .row.project-step-details
    .small-12.columns
      .callout-box.tier-summary
        .top
        .middle
          .content-container
            %h5
              Validated Persona - The Aficionado
            %p
              Jack loves the brewing process, and he wants to educate himself on all aspects of the craft and history of beer making. Although he may not be completely comfortable in his role, he is often sought after by friends, colleagues, and acquaintances as he is considered a great source of information about local beers. He appreciates that beer drinking is a uniquely personal experience, and he prefers a conversation that encompases everyone’s perspective. If he knows someone is genuinely interested, he can talk for hours on the subject of beer and brewing. He has a real sense of pride in local brewers and breweries.  He tries to target best local food and breweries when he travels. He reads some reviews blogs and magazines but is not a contributor and prefers experiential discovery over simply reading about it.
        .bottom
          .marker-container.center
            .marker

  .row.project-step-details
    .small-12.columns.image-column
      %img{src: "../images/validated-persona.png", width: "940", height: "592"}

  .row.project-step
    .small-12
      %h4
        6. Additional Recommendations
      %p.step-description
        Our research uncovered lots of interesting insights and data related to beer purchasing behavior, consumption preferences, and participation in the craft brew community. In addition to a validated persona, we passed these finding on to the Noble Brewer team and made some marketing & design recommendations.

  .row.project-step-details
    .small-12.medium-6.columns.image-column
      %img{src: "../images/brand-loyalty.png", width: "434", height: "482"}
    .small-12.medium-6.columns.image-column
      %img{src: "../images/price-sensitivity.png", width: "482", height: "501"}

  .row.project-step-details
    .small-12.columns
      .callout-box.tier-summary
        .top
        .middle
          .content-container
            %h5
              Website Recommendation
            %p
              :plain
                We noticed both <strong>The Adventurer</strong> and <strong>The Aficionado</strong>  expressed a desire to know the craftsmen, their locale, and the story behind their creations. We believe that featuring this information more prominently on the website will draw on the <strong>Discerning Consumer</strong>, <strong>Student</strong>, and <strong>Patron</strong> personality facets.
        .bottom
          .marker-container.center
            .marker

  .row.project-step-details
    .small-12.medium-6.columns.image-column
      %img{src: "../images/less-about-noble.png", width: "644", height: "322"}
    .small-12.medium-6.columns.image-column
      %img{src: "../images/more-about-brewers.png", width: "644", height: "322"}