.row
  .small-12.columns
    %center
      %img.noble-brewer{src: "../images/noble-brewer-logo-dark.svg", width: "298", height: "84"}
.row
  .small-12.columns
    %center
      %p.company-summary
        Noble Brewer pairs expert homebrewers with professional breweries to bring unique, one-of-a-kind beer to subscribers across the country.