.project-body
  .row.company-logo
    .small-12.columns
      %center
        %img.noble-brewer{src: "../images/noble-brewer-logo-dark.svg", width: "298", height: "84"}

  .row.company-summary
    .small-12.columns
      %center
        %p
          Noble Brewer pairs expert homebrewers with professional breweries to bring unique, one-of-a-kind beer to subscribers across the country.

  .row.project-intro
    .small-12.medium-8.columns
      %h3
        Project: User Research & Persona Development
      %p
        Noble Brewer wanted a more complete picture of their customers to help guide design decisions and product direction. Our design team performed extensive behavioral research and synthesis to create a more vivid picture of the customer in the form of validated personas.

    .small-12.medium-4.columns
      %h3
        My Role
      %p
        I worked with a team of 3 designers to recruit & interview participants, and synthesize the data. I had the most fun leading the 30 minute behavioral interviews.

  .row.flat-callout-box.process-summary
    .marker
    .small-12.columns
      .row
        .small-12.medium-8.columns
          %h4
            The Process
          %ol
            %li
              %h5
                Building Provisional Personas
              %p
                We built a starting hypothesis in the form of “provisional personas” by brainstorming with the project stakeholders and design team members.
            %li
              %h5
                Recruiting Research Participants
              %p
                Using the provisional personas as a guide, we created an online screening survey to assemble a list of exemplary research candidates. We teamed up with the growth team to send the survey to a large group of potential candidates.
            %li
              %h5
                Interviewing Participants
              %p
                Qualified participants were lead through a 30-minute interview to gain insight into their needs and behaviors. The objective was get the particpant into a mental and emotional state to feel safe and compelled to share their true convictions.
            %li
              %h5
                Synthesizing Research
              %p
                We re-played the audio recordings from the interviews, extracted insights, and created affinity maps to distill common themes. We built validated personas from these affinity maps.
            %li
              %h5
                Recommending
              %p
                Additional insights gained in the synthesis process helped us make a few addional design and marketing recommendations.

        .small-12.medium-4.columns
          %h4
            Tools & Techniques
          %ul
            %li
              Behavioral Interviewing
            %li
              Personas
            %li
              Telephone & Hangouts
            %li
              Audio Recorder
            %li
              Affinity Mapping
            %li
              Sketch
  .row.project-details-header
    .small-12
      %h3
        Project Details
  .row.project-step
    .small-12
      %h4
        1. Building Provisional Personas
      %p.step-description
        Our design team brainstormed with the Noble Brewer team to list the behaviors, needs, and loose demographics of current and potential Noble Brewer customers. We built two provisional personas from these brainstorms to serve as hypothesis and starting point from which to begin the research process. We ended up creating two provisional personas: 
        %strong
          “Beer Aficionado”
        and
        %strong
          “Foodie”.
  .row
    .small-12.medium-6.columns.image-column
      %img.stickies{src: "../images/foodie-stickies.png", width: "298", height: "224"}
    .small-12.medium-6.columns.image-column
      %img.persona{src: "../images/foodie-persona-300x202.png", width: "380", height: "256"}

  .row
    .small-12.medium-6.columns.image-column
      %img.stickies{src: "../images/beerie-stickies.png", width: "298", height: "224"}
    .small-12.medium-6.columns.image-column
      %img.persona{src: "../images/beerie-persona.png", width: "380", height: "256"}