.project-body
  .row.company-logo
    .small-12.columns
      %center
        %img.citrine{src: "../images/urx-logo.svg", width: "250", height: "95"}

  .row.company-summary
    .small-12.columns
      %center
        %p
          URX provides a platform and API for connecting mobile apps to each other through contextually-relevant deep linking.

  .row.project-intro
    .small-12.medium-8.columns
      %h3
        Project: Usability Testing, Mobile Prototyping, and Design.
      %p
        URX provides app makers with embeddable buttons and widgets which link one app to another. They wanted to get an idea of behavioral triggers that encouraged click-throughs, and they wanted to know what may have been preventing users from engaging with their app-to-app links.

    .small-12.medium-4.columns
      %h3
        My Role
      %p
        :plain
          Along with a team of 3 designers I conducted guerrilla usability testing, performed analysis, designed improved wireframes and hi-fi mockups, and built a Pixate prototype. I then conducted additional guerrilla usability testing to gauge the effectiveness of new designs.

  .row.process-summary
    .small-12.columns
      .callout-box
        .top
          .marker-container.left
            .marker
        .middle
          .content-container
            .row
              .small-12.medium-8.columns
                %h4
                  The Process
                %ol
                  %li
                    %h5
                      Guerrilla Usability Testing
                    %p
                      Our team conducted guerrilla usability tests in public with 12 users. We aimed to test both men and women ranging in ethnicity and age. This gave us a good signal to the common usage patterns, perceptions, and difficulties among our user base.
                  %li
                    %h5
                      Analysis & Design
                    %p
                      We cataloged, analyzed, and prioritized the common usage patterns and difficulties among all 12 test subjects. We then wireframed some design tweaks to alleviate the difficulties and capitalize on the common perceptions and usage patterns.
                  %li
                    %h5
                      Prototyping
                    %p
                      I quickly learned Pixate and built 2 prototypes to test two slightly different variations of our updated designs.
                  %li
                    %h5
                      Additional Usability Testing
                    %p
                      We went out again and tested the new design with 2 groups of 6 test subjects. We then analyzed the results of the testing and presented our findings to URX.

              .small-12.medium-4.columns
                %h4
                  Tools & Techniques
                %ul.right-list
                  %li
                    Guerrilla Usability Testing
                  %li
                    Sketch 3
                  %li
                    Pixate
                  %li
                    Affinity Mapping
        .bottom

  .row.project-details-header
    .small-12
      %h3
        Project Details
  .row.project-step
    .small-12
      %h4
        1. Guerrilla Usability Testing
      %p.step-description
        Our team conducted guerrilla usability tests in public with 12 users. We aimed to test both men and women ranging in ethnicity and age. This gave us a good signal to the common usage patterns, perceptions, and difficulties among our user base.

  .row.project-step-details
    .small-12.medium-6.columns.image-column
      %img{src: "../images/urx-widget-iphone.png", width: "456", height: "877"}
    .small-12.medium-6.columns
      .callout-box.right-border
        .top
        .middle
          .marker-container.top
            .marker
          .content-container
            %h5
              Objective & Process
            %ol
              %li
                %h6
                  Objective
                %p
                  The <strong class="red-highlight">widget outlined in red</strong> is URX's inter-app linking technology. We wanted to test how the user perceived the widget, what they thought it was, and what their natural behaviors were when they encountered it.
              %li
                %h6
                  Usability Testing Process
                %ul
                  %li
                    %p
                      We created a test script to prompt the each subject into the same in-app scenario (a lyrics page on the web). Once prompted into the test scenario, each subject was asked to accomplish a set of objectives. The scripts helped keep the tests consistent, but also let each subject accomplish the outlaid objectives in their own way. This allowed patterns test results to emerge naturally.
                  %li
                    %p
                      We split into two teams. Each team tested 6 subjects. One person facilitated the test providing prompts for the test subject while the other teammate video recorded the interaction.
        .bottom

  .row.project-step-details
    .small-12.medium-6.columns.image-column
      %img{src: "../images/urx-guerrilla-testing.png", width: "408", height: "306"}
    .small-12.medium-6.columns
      .callout-box.right-border
        .top
        .middle
          .marker-container.top
            .marker
          .content-container
            %h5
              Performing Tests
            %ol
              %li
                %h6
                  Test Prompts and User Objectives
                %ul
                  %li
                    Please describe what you see on this page?
                  %li
                    What do you think you can do from here?
                  %li
                    Now that you've seen the lyrics, what would you do next?
                  %li
                    :plain
                      <strong>[after identifying the URX widget]</strong> Can you tell me what this is?
                  %li
                    :plain
                      <strong>[after identifying the URX widget]</strong> What do you think you can do from here?
                  %li
                    :plain
                      <strong>[after clicking the URX widget]</strong> Is this what you expected to happen?
                  %li
                    :plain
                      <strong>[after clicking the URX widget]</strong> What would you do next?


              %li
                %h6
                  Facilitating The Test
                %p
                  I may not look super-thrilled to be facilitating this test, but I actually thought this was the <strong>most fun part of the process :)</strong> My partner Laura video recorded the user's interaction while I gave the user prompts and objectives to accomplish.
        .bottom

  .row.project-step
    .small-12
      %h4
        2. Analysis & Design
      %p.step-description
        After we completed the usability tests, we replayed the recordings and organized the results. Although the tests revealed that users didn't have much difficulty understanding the product and taking the desired action, the biggest issue was that they didn't exactly know what was going to happen because information was cut off.

  .row.project-step-details
    .small-12.columns
      .project-step-summary
        %h5
          Test Results:
        %ul
          %li
            7 of 12 users weren't sure what song they were about to listen to because the song titles were cut off.
          %li
            2 of 12 users didn't recognize what the featured applications were.
          %li
            2 of 12 users expected a sample or song preview to be played within the browser

  .row.project-step-details
    .small-12.medium-6.columns.image-column
      %img{src: "../images/urx-analysis.png", width: "408", height: "306"}
    .small-12.medium-6.columns
      .callout-box.right-border
        .top
        .middle
          .marker-container.center
            .small.marker
          .content-container
            %h5
              Wireframing A Solution
            %p
              From a design standpoint, the main problem was inefficient usage of screen space. We brainstormed some wireframes to make better use of the space and to better set the users expectations about what the widget does.
        .bottom

  .row.project-step
    .small-12
      %h4
        3. Prototyping
      %p.step-description
        With a solid wireframe in hand, I built a Pixate prototype which mimicked an almost pixel perfect version of the original application which incorporated the design enhancements.

  .row.project-step-details
    .small-12.medium-6.columns.image-column
      %img{src: "../images/urx-pixate-annotated.png", width: "429", height: "877"}
    .small-12.medium-6.columns
      .callout-box.right-border
        .top
        .middle
          .marker-container.top
            .marker
          .content-container
            %h5
              Design Enhancements
            %ol
              %li
                %h6
                  Clear Call To Action
                %p
                  This call to action told the user exactly what was going to happen when they clicked on an item. It also identified the application by name so the user didn't have to guess by the app's logo.
              %li
                %h6
                  Separate Artist & Song Title
                %p
                  This freed up a ton of space on each line. This improvement, along with the other two design improvements freed up enough screen real estate so that song titles were displayed in their entirety, and users knew exactly what was going to happen when they clicked on an item. They would be taken directly to the Spotify application.
              %li
                %h6
                  Carrot Arrow Instead of "Listen"
                %p
                  We were able to replace the word "Listen" with a carrot symbol since our call to action above is clearly "Listen in Spotify". This also freed up more space for the song title.


  .row.project-step
    .small-12
      %h4
        4. Additional Usability Testing & Recommendations
      %p.step-description
        We performed additional guerrilla usability tests using the Pixate prototype. 100% of our tested users recognized the featured application which was a dramatic improvement over version 1. Surprisingly, version 2 introduced a regression: More users expected to hear a preview of the song upon clicking it.

  .row.project-step-details
    .small-12.columns
      .project-step-summary
        %h5
          Test Results:
        %ul
          %li
            12 of 12 users knew what song they were about to hear.
          %li
            12 of 12 users recognized the featured applications.
          %li
            :plain
              3 of 12 users expected a sample or song preview to be played within the browser <strong>[regression]</strong>.

        %h5
          Recommendations:
        %ul
          %li
            Set expectations for the user by making the calls to action more clear and explicit.
          %li
            Provide more context by showing the entire artist and song title.