@import 'variables';

.project-body {
  margin-top: 20px;

  h3 {
    line-height: 1.4em;
    font-size: 20px;
    font-weight: 800;
  }

  p {
    color: #424242;
    font-family: $serif;
  }
}

.row.company-logo {
  margin-top: 45px;
}

.row.company-summary {
  margin-bottom: 30px;

  p {
    font-style: italic;
    padding-top: 10px;
    text-align: center;
    width: 590px;

    @media #{$small-only} {
      font-size: 14px;
      width: 80%;
    }
  }
}

img.noble-brewer {
  height: 84px;
  width: 298px;

  @media #{$small-only} {
    height: 42px;
    width: 149px;
  }
}

.project-intro {
  margin-bottom: 20px;

  p {
    font-family: $serif;
    line-height: 1.4em;
  } 
}

.row.process-summary {
  margin-bottom: 40px;

  .callout-box {
    .content-container {
      ol, ul {
        margin-bottom: 15px;
      }
    }
  }
}

.row.project-details-header {
  text-align: center;
}

.row.project-step {
  margin-bottom: 20px;

  h4, p {
    text-align: center;
  }

  h4 {
    line-height: 1.4em;
    font-size: 20px;
    font-weight: 800;
  }
  
  .step-description {
    strong {
      color: #4A90E2;
    }
  }

  .flat-callout-box {
    @media #{$small-only} {
      display: block;
    }

    h5 { margin-bottom: 10px; }
    li { margin-bottom: 5px; }
    ul { margin-bottom: -5px; }
  }
}

.image-column {
  text-align: center;

  img.affinity {
    margin-bottom: 120px;
  }
}

.row.project-step-details {
  margin-bottom: 30px;

  .image-column {
    margin-bottom: 20px;
  }
}


.project-step {
  p.step-description {
    padding-left: 10%;
    padding-right: 10%;
  }

  .callout-box {
    margin-top: -20px;
    text-align: left;

    .middle .content-container {
      padding: 10px;

      h4 {
        text-align: left;
      }

      ul {
        list-style-position: outside;
        margin-left: 20px;

        li {
          font-size: 14px;
          font-weight: 300;
          margin-bottom: 5px;
        }
      }
    }
  } 
}

.row.sample-screener {
  h5 {
    font-style: italic;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
  }

  .row.sample-question {
    margin-bottom: 15px;

    .question-title {
      font-size: 14px;
      font-weight: 800;
      padding-bottom: 5px;
    }

    .answer-options {
      font-size: 14px;

      label {
        font-weight: 300;
        line-height: 1.4em;
      }

      input {
        margin-right: 5px;
      }
    }
  }

  .screener-summary {
    background-color: $light-blue;
    border-left: 2px solid $blue;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px 0 5px 15px;

    h5 {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      margin-bottom: 5px;
    }

    ul li {
      font-weight: 300;
    }
  }
}