@import './../../bower_components/foundation/scss/normalize';
@import './../../bower_components/foundation/scss/foundation';

@import 'variables';
@import 'fonts';
@import 'mixins';
@import 'home';
@import 'portfolio';

body {
  font-family: SourceSansPro, "Helvetica", "sans-serif";

  padding: 20px;

  p {
    line-height: 1.4em;
  }

  .fixed {
    padding: 0 20px 0 20px;

    @media #{$small-only} {
      padding: 0;
    }

    .row.top {
      .nav {
        @media #{$small-only} {
          padding: 0 !important;
        }
      }
    }

    .row.bottom {
      .sub-nav-container {
        @media #{$small-only} {
          padding: 0 !important;
        }
      }
    }
  }

  p {
    font-weight: 300;
  }

  .main-content {
    margin: 0 50px 0 50px;

    @media #{$medium-only} {
      margin: 0 30px 0 30px;
    }

    @media #{$small-only} {
      margin: 0;
    }
  }
}

.columns.nowrap {
  white-space: nowrap;
}

nav {
  background-color: rgba(255, 255, 255, 0.8);

  .row.top {
    .title, .nav {
      height: 60px;
    }

    @media #{$small-only} {
      .title {
        height: 55px;
      }
      .nav {
        height: auto;
      }
    }

    h1, h2 {
      display: inline-block;
      height: 60px;
      line-height: 60px;
      margin: 0 !important;
      padding: 0 !important;
      position: relative;
    }

    h1 {
      font-size: 38px;
      margin-right: 10px !important;

      @media #{$small-only} {
        font-size: 30px;
      }
    }

    h2 {
      font-size: 18px;
      font-weight: 300;

      @media #{$medium-only} {
        font-size: 16px;
      }

      @media #{$small-only} {
        font-size: 12px;
      }
    }

    ul.primary-nav {
      list-style-type: none;
      margin: 0px;

      @media #{$small-only} {
        background-color: #4A90E2;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        height: 30px;
      }

      li {
        display: inline-block;
        color: #4A90E2 !important;
        font-size: 16px;
        height: 60px;
        line-height: 76px;
        padding-left: 20px;

        @media #{$medium-up} {
          &.selected {
            font-weight: 800;
            color: #4A90E2;
          }
        }

        @media #{$small-only} {
          color: #FFFFFF !important;
          display: block;
          height: 30px;
          float: left;
          font-size: 14px;
          line-height: 30px;

          &.selected {
            font-weight: 800;
          }

          &.portfolio {
            .marker {
              border: 6px solid;
              border-color: transparent;
              border-top-color: #4A90E2;
              height: 0px;
              left: 115px;
              margin: 0;
              padding: 0;
              position: absolute;
              width: 0px;
              z-index: 100;
            }
          }

          &:last-child:after {
            clear: both;
          }

          a {
            color: #FFFFFF !important;
          }
        }

        a {
          color: #4A90E2;
        }

      }
    }
  }

  .row.middle {
    hr.divider {
      border: 3px solid #4A90E2;
      border-radius: 2px;
      margin: 0 !important;
      padding: 0 !important;

      @media #{$small-only} {
        display: none;
      }
    }
  }

  .row.bottom {
    .portfolio-sub-nav {
      position: relative;

      @media #{$medium-up} {
        left: -58px;
        padding-bottom: 12px;
        padding-top: 12px;
      }

      ul {
        margin-bottom: 0;

        @media #{$small-only} {
          padding-bottom: 7px;
          padding-top: 10px;
        }

        li {
          display: inline-block;
          font-weight: normal;
          height: 30px;
          line-height: 30px;
          padding-left: 20px;

          a.selected {
            color: #FFFFFF;
            font-weight: 800;
            background-color: #4A90E2;
            padding: 3px 5px 3px 5px;
            border-radius: 2px;
          }

          @media #{$small-only} {
            padding-left: 20px;
            font-size: 13px;
            font-weight: 400;
            color: #000000;

            a {
              color: #000000;
              font-weight: 300;

              &.selected {
                font-weight: normal;
              }
            }
          }

          a {
            color: #4A90E2;
          }
        }
      }
    }
  }

  .row.footer {
    hr {
      border: 1px solid #4A90E2;
      border-radius: 0;
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}