.row.intro
  .small-12.columns
    %h3
      I conceptualize, design, and build useful software.
  .small-12.columns
    %p
      Through research & rapid design prototyping, I help find the most elegant and practical solutions...and then build them.

.row
  .small-12.columns.feature-box
    .row{"data-equalizer" => "hello"}
      .small-12.medium-8.columns{"data-equalizer-watch" => "hello"}
        %h4
          Professionally Speaking
        %p
          I create software solutions to help people become more powerful and capable in their daily work. I value clarity over cleverness, and I lean on design conventions and standards where they’re appropriate. Software is a tool used to get work done. And people with better tools have a greater capacity to do what they do best.
      .small-12.medium-4.columns.profile-photo{"data-equalizer-watch" => "hello"}
        %img{src: "../images/profile-photo.png"}

.row.how
  .small-12.columns.section
    %h3
      How I'd like to help.
    %p
      :plain
        Let's design, build, and complete your web software project together! I work an agile process iterating the steps of <strong>research</strong>, <strong>design & prototyping</strong>, and <strong>development</strong> involving end-users and co-workers every step of the way.

.row.capabilities
  .small-12.medium-4.columns.section.active
    %h4
      Research & Usability
    %p
      :plain
        Software is built for people. So it is hugely important to understand who will be using the software, why they’ll use it, and how they’re currently getting the job done. Check out some of my recent work involving research at <strong>Noble Brewer</strong> and <strong>Citrine</strong>.
    %ul.project-list
      %li
        %a
          Persona Validation @
          %strong
            Noble Brewer
      %li
        %a
          Usability Testing & Prototyping @
          %strong
            URX

  .small-12.medium-4.columns.section
    %h4
      Design & Prototyping
    %p
      :plain
        Design is the process of creating a solution using research insight. Once a design is solidified, tools such as invision, pixate, or marvel can be used to create a prototype to be tested with users. Recent projects at <strong>Citrine</strong> and <strong>URX</strong> involved research-driven design & prototyping.

  .small-12.medium-4.columns.section
    %h4
      Development
    :plain
      <p>
        The only way to bring design into reality is by coding it up. In addition to being a full-stack <strong>Ruby on Rails</strong> developer, I have built applications in <strong>Backbone</strong> and <strong>Angular</strong>, and this portfolio runs on <strong>Angular</strong>, <strong>Zurb Foundation</strong>, <strong>HAML</strong>, and <strong>SASS</strong>.
      </p>

.row.practice-details
  .small-12.columns
    .callout-box
      .top
        .marker-container.left
          .marker
      .middle
        .content-container
          .row
            .small-12.medium-8.columns
              %h4
                Research & Usability Projects
              %h5
                Noble Brewer
              %p
                This persona validation research project involved extensive behavioral interviews with 8 subjects, and then synthesizing that data into complete personas.
              %h5
                URX
              %p
                In this user-research & prototyping project, I conducted in-person usability tests on a mobile device by building a Pixate prototype.
            .small-12.medium-4.columns
              %h4
                Tools & Techniques
              %ul.right-list
                %li
                  Behavioral Interviewing
                %li
                  Lots of Sticky Notes
                %li
                  Telephone & Hangouts
                %li
                  Audio Recorder
                %li
                  Invision & Marvel
                %li
                  Pixate + iPhone
                %li
                  SQL
      .bottom

.row.practice-details
  .small-12.columns
    .callout-box
      .top
        .marker-container.center
          .marker
      .middle
        .content-container
          .row
            .small-12.medium-8.columns
              %h4
                Design & Prototyping Projects
              %h5
                Citrine
              %p
                Citrine wanted more people to upload data & documents to their system. I teamed up with another designer to perform usability testing to uncover difficulty in the upload process. We performed usability testing, analyzed the results, designed a few key improvements, and implemented the recommendations. 
              %h5
                URX
              %p
                In this user-research & prototyping project, I conducted in-person usability tests on a mobile device by building a Pixate prototype.
            .small-12.medium-4.columns
              %h4
                Tools & Techniques
              %ul.right-list
                %li
                  Remote Usability Testing
                %li
                  Wireframing
                %li
                  Task Flows
                %li
                  Pair Designing & Rapid Prototyping
                %li
                  Bootstrap + CSS3 + HTML5
                %li
                  Angular
                %li
                  Rich HTML E-mail Development
                %li
                  Hangouts + Quicktime Screen Recording
                %li
                  Sketch 3
                %li
                  Guerrilla Usability Testing
                %li
                  Pixate

.row.practice-details
  .small-12.columns
    .callout-box
      .top
        .marker-container.right
          .marker
      .middle
        .content-container
          .row
            .small-12.medium-8.columns
              %h4
                Development Experience
              %p
                As an early engineer at Groupon, I bridged my back-end experience in J2EE and Ruby on Rails to become a full-stack developer by learning Coffeescript, JavaScript, Backbone, HAML, and SASS. While at Groupon, I designed, managed, built, and deployed platform-wide features spanning the entire system architecture and involving many teams. I've continued to build my skills in software development by learning UX Product Design in an apprenticeship at Tradecraft.
            .small-12.medium-4.columns
              %h4
                Tools & Techniques
              %ul.right-list
                %li
                  JavaScript + Angular + Jasmine
                %li
                  Ruby on Rails + RSpec
                %li
                  SQL
                %li
                  Zurb Foundation + Bootstrap
                %li
                  HTML5 + HAML
                %li
                  CSS3 + SASS
                %li
                  Git

      .bottom

%br
%br
%br