.row.intro
  .small-12.columns
    %h3
      Research-driven design. Agile software development.
  .small-12.columns
    %p
      Through research & rapid prototyping, I design and implement elegant and practical web applications.

.row.how
  .small-12.columns.section
    %h3
      My Process.
    %p
      :plain
        I work an agile process iterating the steps of <strong>research</strong>, <strong>design & prototyping</strong>, and <strong>development</strong> involving end-users and co-workers every step of the way. I value clarity over cleverness, and I lean on design conventions and standards where they’re appropriate.

.row.capabilities
  .small-12.medium-4.columns.section
    %h4
      Research & Usability
    .section-image
      %img{src: "../images/research-square.png", width: "270", height: "155"}
      .caption
        %p
          :plain
            Start by <strong>understanding how and why</strong> people use the software. Continually returning to users to validate designs & assumptions is essential.
  .small-12.medium-4.columns.section
    %h4
      Design & Prototyping
    .section-image
      %img{src: "../images/design-square.png", width: "270", height: "155"}
      .caption
        %p
          :plain
            <strong>Clarity over cleverness</strong>. I use known design conventions when possible, keep it simple, and test prototypes often.
  .small-12.medium-4.columns.section
    %h4
      Development
    .section-image
      %img{src: "../images/dev-square.png", width: "270", height: "155"}
      .caption
        %p
          :plain
            </strong>Front-end frameworks</strong> bring speed, agility, and consistency. I've had success with <strong>Bootstrap, Zurb, Angular, Backbone, and Ruby on Rails</strong> on many projects.

.row.how
  .small-12.columns.section
    %h3.recent-work
      Recent Work.
    %p.recent-work
      :plain
        Below, are listed some <strong>research, usability, and design</strong> client projects. In addition to this skill set, I have 10 years of experience building enterprise and public-facing web software at Groupon, Rise, Obtiva, Gannett, and Vail Systems.

.row.capabilities.projects
  .small-12.columns
    %h4
      Research & Persona Validation
  .small-0.medium-8.columns
    %p
      Our team built a fully-researched and validated persona for Noble Brewer. We performed extensive interviewing and behavioral research and synthesized it into a detailed persona. Noble Brewer was able to use this insight to orient their marketing and product development efforts to the needs and goals of real people.
    %a{"ng-href" => "#portfolio/noble-brewer"}
      .button
        View project.

  .small-12.medium-4.columns
    %a{"ng-href" => "#portfolio/noble-brewer"}
      .section-image
        %img{src: "../images/noble-brewer-square.png", width: "270", height: "155"}
        .caption
          %p
            Noble Brewer brings unique one-of-a-kind home brews to subscribers across the country.
          .button
            View project.

.row.capabilities.projects
  .small-12.columns
    %h4
      Usability & Design
  .small-0.medium-8.columns
    %p
      Citrine wanted more people to upload data and documents to their materials data search platform. Our team set out to find out what was keeping people from uploading information, and then we designed and implemented improvements to the system.
    %a{"ng-href" => "#portfolio/citrine"}
      .button
        View project.


  .small-12.medium-4.columns
    %a{"ng-href" => "#portfolio/citrine"}
      .section-image
        %img{src: "../images/citrine-square.png", width: "270", height: "155"}
        .caption
          %p
            Citrine Informatics is an analytics platform for advanced materials research and development.
          .button
            View project.

.row.capabilities.projects
  .small-12.columns
    %h4
      Design & Prototyping
  .small-0.medium-8.columns
    %p
      URX provides app makers with embeddable buttons and widgets which link one app to another. They wanted to get an idea of behavioral triggers that encouraged click-throughs, and they wanted to know what may have been preventing users from engaging with their app-to-app links.
    %a{"ng-href" => "#portfolio/urx"}
      .button
        View project.

  .small-12.medium-4.columns
    %a{"ng-href" => "#portfolio/urx"}
      .section-image
        %img{src: "../images/urx-square.png", width: "270", height: "155"}
        .caption
          %p
            URX provides a platform for connecting mobile apps to each other through deep linking.
          .button
            View project.