.row.intro
  .small-12.columns
    %h3
      I conceptualize, design, and build useful software.
  .small-12.columns
    %p
      Through research & rapid design prototyping, I help find the most elegant and practical solutions...and then build them.

.row
  .small-12.columns.feature-box
    .row{"data-equalizer" => "hello"}
      .small-12.medium-8.columns{"data-equalizer-watch" => "hello"}
        %h4
          Professionally Speaking
        %p
          I help people become more powerful and capable in their daily work. I value clarity over cleverness, and I lean on design conventions and standards where they’re appropriate. Software is a tool used to get work done. And people with better tools have a greater capacity to do what they do best.
      .small-12.medium-4.columns.profile-photo{"data-equalizer-watch" => "hello"}
        %img{src: "../images/profile-photo.png"}

.row.how
  .small-12.columns.section
    %h3
      How I'd like to help.
    %p
      I have 8 years of experience building web-based software, and I’d like to help you design, build, and complete your project. I work an agile process iterating the steps of research, design, and implementation involving end-users and co-workers every step of the way.

.row.capabilities
  .small-12.medium-4.columns.section.active
    %h4
      Research & Usability
    %p
      Since software is built for people, it’s great to begin by understanding will be using the software, why they’ll use it, and how they’re currently getting the job done. Since this stage is so foundational, I have experience on a variety of research projects.
    %ul.project-list
      %li
        %a
          Persona Validation @
          %strong
            Noble Brewer
      %li
        %a
          Usability Testing & Prototyping @
          %strong
            URX

  .small-12.medium-4.columns.section
    %h4
      Design & Prototyping
    %p
      Design is the process of creating a prototype using research insight. Collaborating with users and co-workers to build design considerations helps inform the design direction. Once a design is solidified, tools such as invision, pixate, or marvel can be used to create a prototype to be tested with users.

  .small-12.medium-4.columns.section
    %h4
      Development
    :plain
      <p>
        The only way to bring design into reality is by coding it up. I have lots of experience with a variety of front-end frameworks. In addition to being a full-stack developer (mostly in <strong>Ruby on Rails</strong>), I have built applications in <strong>Backbone</strong> and <strong>Angular</strong>, and this portfolio runs on <strong>Angular</strong>, <strong>Zurb Foundation</strong>, <strong>HAML</strong>, and <strong>Sass</strong>.
      </p>

.row
  .small-12.columns.flat-callout-box
    .marker
    .row
      .small-12.medium-8.columns
        %h4
          Research & Usability Projects
        %h5
          Noble Brewer
        %p
          This persona validation research project involved extensive behavioral interviews with 8 subjects, and then synthesizing that data into complete personas.
        %h5
          URX
        %p
          In this user-research & prototyping project, I conducted in-person usability tests on a mobiile device by building a Pixate prototype.
      .small-12.medium-4.columns
        %h4
          Tools & Techniques
        %ul
          %li
            Behavioral Interviewing
          %li
            Lots of Sticky Notes
          %li
            Telephone & Hangouts
          %li
            Audio Recorder
          %li
            Invision & Marvel
          %li
            Pixate + iPhone
          %li
            SQL