!!! 5
%html
  %head
    %meta{charset: "utf8"}
    %meta{name: "viewport", content:"width=device-width"}
    %meta{name: "google-site-verification", content:"3Ccn3zKixsjitl3gKva3cQS3hpFJdXbJAHZ411OuUSg"}

    %link{rel: "stylesheet", media: "screen", href: "./css/v2/application.css"}
    %link{rel: "stylesheet", media: "screen", href: "./css/magnific-popup.css"}
    %script{src: "./js/jquery.min.js"}
    %script{src: "./js/jquery.nav.js"}
    %script{src: "./js/foundation.min.js"}
    %script{src: "./js/foundation.equalizer.js"}
    %title
      Sean Iams - Product Designer

  %body.v2
    .fixed
      %nav.sub-nav-open{id: "nav", "data-topbar" => "", role: "navigation"}
        .row
          .small-0.medium-2.spacer.columns
            %a.avatar{href: "/"}
              %img{src: "../images/profile-photo-right.png", width: "110", height: "110"}
          .small-12.medium-8.columns
            %center
              %ul
                %li.current.has-sub-nav
                  %a{href: "/#recent-work"}
                    RECENT WORK
                  .inner-nav
                    %ul
                      %li
                        %img{src: "../images/curved-arrow-12.png", width: "12", height: "12"}
                      %li.active
                        %a
                          Citrine
                      %li
                        %a
                          URX (soon)
                      %li
                        %a
                          Noble Brewer (soon)
                %li
                  %a{href: "/#my-process"}
                    MY PROCESS
                %li
                  %a{href: "/#about-me"}
                    ABOUT ME
          .small-0.medium-2.spacer.columns
        .row.project-nav
          .small-3.spacer.columns
          .small-6.columns
            .sub-nav-container
              %ul
                %li
                  %a
                    Citrine
                %li
                  %a
                    URX
                %li
                  %a
                    Noble Brewer
          .small-3.spacer.columns

    .project-page
      .row.company-intro
        .small-12.medium-6.columns.company-image
          %img{src: "../images/citrine-macbook.png", width: "461", height: "269"}
        .small-12.medium-6.columns.company-details
          %h1
            Citrine Informatics
          %p.description
            An analytics platform for advanced materials R & D.
          %p.tags
            Visual Design, Interaction Design, Usability Testing
      .row.project-intro
        .row
          .small-12.medium-6.columns.blurb
            %h3
              The Challenge
            %p
              Citrine wanted to drive uploads to their platform. Through user testing, we discovered what was keeping users from signing up and uploading. We then re-designed a few key screens and recommended enhancements to their onboarding process.
          .small-12.medium-6.columns.blurb
            %h3
              My Role
            %p
              I conducted remote usability testing & analysis, designed improvements to the onboarding process, and redesigned the Citrination landing page.
        .row
          .small-12.columns.blurb
            %h3
              The Process
            %img.main.magnific{src: "../images/citrination-process.png", width: "945", height: "236"}

      .row.divider.recent-projects
        %a.nav-anchor
        .icon.small
          %img.small{src: "../images/step-1.png", width: "54", height: "54"}
        %h2
          Usability Testing & Analysis
        %p
          Our team conducted 5 video-recorded usability tests focused on signing up and uploading files. Focusing on a few key pain-points guided our design decisions.

      .row.project-step
        .row
          .small-12.medium-6.columns.image-blurb
            %img.magnific{src: "../images/remote-usability.png", width: "461", height: "228"}
            %p
              Conducting remote usability test via Google Hangouts.
          .small-12.medium-6.columns.blurb
            %h3
              %img.icon{src: "../images/eye-34.png", width: "34", height: "34"}
              Remote Usability Testing
            %p
              We identified usage patterns, common frustrations, and points of confusion in the upload process. This step was crucial in uncovering the real issues and guided us in prioritizing the problems at hand.

        .row
          .small-12.medium-6.columns.blurb
            %h3
              %img.icon{src: "../images/analysis-34.png", width: "34", height: "34"}
              Analysis
            %p
              After assembling our sticky notes onto an affinity map, we uncovered some common pain-points:
            %ul
              %li
                %span
                  Users had difficulty signing up due to the e-mail confirmation process.
              %li
                %span
                  Error messages were ignored during onboarding.
              %li
                %span
                  Users were confused about what to upload and why.

          .small-12.medium-6.columns.image-blurb
            %img.magnific{src: "../images/citrine-affinity-2.png", width: "458", height: "290"}
            %p
              Me and teammate Laura mapping the results.

        .row
          .small-12.medium-6.columns
            .photo
              %img{src: "../images/citrine-priorities.png", width: "318", height: "210"}
          .small-12.medium-6.columns.blurb
            %h3
              %img.icon{src: "../images/prioritize-34.png", width: "34", height: "34"}
              Prioritizing The Issues
            %ol
              %li
                Our testing showed users were taking an average of 3 sign-up attempts to gain access to the system. We wanted to streamline the sign-up process enabling the users to get into the system in a matter of seconds.
              %li
                We re-designed the Citrination landing page with key calls-to-action and selling points to encourage users to sign up and contribute data.

      .row.divider.recent-projects
        %a.nav-anchor
        .icon.small
          %img.small{src: "../images/step-2.png", width: "54", height: "54"}
        %h2
          Design
        %p
          After analyzing and prioritizing insights from usability testing, we made some key design improvements.

      .row.project-step.with-divider
        .row
          .small-12.columns
            %h3.big-centered
              1. Designing a smoother sign-up experience.
        .row.short
          .small-12.columns
            %h3.small-centered
              The Original Sign-up Flow
        .row
          .small-12.columns.centered-image
            %img.magnific{src: "../images/citrine-flow-1.png", "data-mfp-src" => "../images/citrine-flow-1-zoomed.png", width: "939", height: "636"}

        .row.short
          .small-12.columns
            %h3.small-centered
              Suggestion #1 - Streamline the sign-up flow.
        .row
          .small-12.columns.centered-image
            %img.magnific{src: "../images/citrine-flow-2.png", "data-mfp-src" => "../images/citrine-flow-2-zoomed.png", width: "939", height: "640"}

        .row.short
          .small-12.columns
            %h3.small-centered
              Suggestion #2 - Don't let users miss the confirmation step.
        .row
          .small-12.medium-6.columns
            %img.magnific{src: "../images/citrine-signup-confirm.png", width: "459", height: "267"}
          .small-12.medium-6.columns.blurb
            %h3
              A screen for the confirmation message.
            %p
              This was the easier-to-implement solution. Instead of having an easily-dismissible pop-up message, there’s a dedicated page telling them to confirm their e-mail address before continuing on.

      .row.project-step
        .row
          .small-12.columns
            %h3.big-centered
              2. Designing a more informative landing page.
        .row.short
          .small-12.columns
            %h3.small-centered
              Landing Page - Before Redesign
        .row
          .small-12.columns.centered-image
            %img.magnific{src: "../images/citrination-landing-before.png", "data-mfp-src" => "../images/citrination-landing-before-mac-zoomed.png", width: "938", height: "319"}

        .row.short
          .small-12.columns
            %h3.small-centered
              Landing Page - After Redesign
        .row
          .small-12.columns.centered-image
            %img.magnific{src: "../images/citrination-landing-after.png", "data-mfp-src" => "../images/citrination-landing-zoomed.png", width: "939", height: "1980"}

    .footer
      .row
        .small-12.medium-6.columns
          .row
            .contact-form
              .row
                .small-12.columns
                  %h3
                    Send me a lovely message.

              %form{action: "//formspree.io/smiamsdemo@gmail.com", method: "POST"}
                .row
                  .small-12.columns
                    %label{name: "_replyto"}
                      Your e-mail address:
                      %input{type: "email", class: "text email", name: "_replyto"}
                .row
                  .small-12.columns
                    %label
                      Your flowery prose:
                      %textarea{class: "input-group-field", name: "message", rows: "4"}
                .row
                  .small-12.columns
                    %input{type: "submit", value: "Send", class: "button"}
        .small-12.medium-6.columns
          %ul.footer-links
            %li
              %a{href: "https://www.linkedin.com/in/seaniams", target: "_blank"}
                LinkedIn profile...
            %li
              %a{href: "/resume.pdf", target: "_blank"}
                Resume...

    %script{src: "./js/magnific-popup.min.js"}

:javascript
  $(document).ready(function() {
    $('.magnific').magnificPopup({type:'image', image: {titleSrc: function(item) {
      if (item.el.next() !== undefined) {
        return item.el.next().html();
      }
    }}});
  });