!!! 5
%html
  %head
    %meta{charset: "utf8"}
    %link{rel: "stylesheet", media: "screen", href: "./../css/application.css"}
    %script{src: "./../js/jquery.min.js"}
    %script{src: "./../js/foundation.min.js"}
  %body
    .fixed
      %nav{"data-topbar" => "", role: "navigation"}
        .row.top
          .small-12.medium-6.large-6.columns.title.nowrap
            %h1 Sean Iams
            %h2
              software designer.
          .small-12.medium-6.large-6.columns.nav
            %ul.primary-nav
              %li
                HOME
              %li.portfolio.selected
                PORTFOLIO
                .marker
              %li
                ABOUT ME
            .portfolio-sub-nav
              %ul
                %li
                  %a Noble Brewer
                %li
                  %a.selected Citrine
                %li
                  %a URX

        .row.bottom
          .small-12.columns
            %hr.divider

    %br
    %br
    %br
    .row
      .small-2.large-4.columns
        one
      .small-2.large-4.columns
        $texasssasz...yea
      .small-2.large-4.columns
        threve
    .row
      .small-2.large-4.columns
        one
      .small-2.large-4.columns
        two
      .small-2.large-4.columns
        three
        asd
    .row
      .small-12.large-12.columns
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam diam a ex elementum rhoncus. Vivamus eget cursus ipsum. Ut mollis viverra lectus, dictum congue est cursus ut. Mauris sed condimentum tellus. Nam dapibus nunc id odio commodo tempor. Sed ultrices egestas est, eu molestie arcu rhoncus ut. Vivamus tincidunt enim a convallis viverra. Nulla facilisi. Curabitur a dui porttitor, pulvinar erat ac, sollicitudin leo. Nam fringilla turpis laoreet ipsum feugiat molestie. Pellentesque diam nisl, hendrerit at cursus sed, vestibulum nec felis. Pellentesque ornare auctor magna eget facilisis. Sed vitae nunc bibendum, facilisis velit eu, egestas metus. Suspendisse fermentum dui vel finibus gravida. Donec gravida placerat dapibus. Nulla nisi lorem, faucibus elementum eleifend sed, finibus eu tortor.
    .row
      .small-12.large-12.columns
        Pellentesque ut justo nisl. Nulla posuere erat sed scelerisque ultricies. Praesent a ultricies justo. Morbi pellentesque tempor bibendum. Nulla mattis tellus ac justo ornare, quis luctus justo sollicitudin. Proin non est et tortor porttitor malesuada. Proin id blandit massa, non ornare urna. Mauris gravida consectetur nulla at molestie. Praesent maximus velit tincidunt leo rhoncus, sed ultricies lorem lacinia. Suspendisse vel tortor lacinia, laoreet lacus eu, finibus arcu. Donec volutpat sed diam vel tempus. Quisque molestie porta luctus. Donec porttitor egestas tempus.

        Quisque vitae laoreet sem, pulvinar aliquet odio. Aenean convallis congue dui a faucibus. Duis id mauris ut tortor cursus finibus. Pellentesque non erat elementum, congue nulla non, molestie ligula. Nunc cursus imperdiet velit. Ut vitae tempus sapien. Aenean eu placerat velit. In ut molestie orci, vel hendrerit dui. Praesent consequat, ipsum et feugiat pellentesque, dolor magna varius est, et egestas turpis diam ut ligula. Nam et cursus mi, dapibus iaculis turpis. Ut sed erat odio. Sed ultricies gravida luctus.
    .row
      .small-12.large-12.columns
        %div.magellan-container{"data-magellan-expedition" => "fixed"}
          %dl.sub-nav
            %dd{"data-magellan-arrival" => "one"}
              %a{href: "#one"}
                One
            %dd{"data-magellan-arrival" => "two"}
              %a{href: "#two"}
                Two

    .row{style:"background-color: red;"}
      .small-12.large-12.columns
        In dignissim rhoncus ipsum. In faucibus mi tortor, a efficitur magna mollis congue. Suspendisse at eleifend lacus, vel consequat leo. Vivamus sit amet consectetur nunc. Etiam eget suscipit neque. Aliquam convallis malesuada viverra. Phasellus ut tincidunt libero. Morbi nec mi id lectus ornare eleifend.

        Sed eget maximus velit. Praesent dapibus quam sit amet lacus lacinia, quis imperdiet tellus maximus. In quis risus vitae tellus varius accumsan. Nulla gravida purus ante, mattis malesuada tortor mollis in. Nullam mauris mi, ullamcorper id diam nec, tristique venenatis lorem. Pellentesque convallis interdum vehicula. Nullam est purus, pretium tristique quam ultricies, condimentum eleifend metus. Sed interdum est dolor, non vehicula ex blandit a. Quisque sed odio ut diam sollicitudin scelerisque. In imperdiet quam magna, vitae varius nibh tincidunt in. In mollis quam non ante tempus, sit amet luctus mauris semper. Maecenas sagittis augue at felis euismod, a tempus lacus semper. Pellentesque pretium maximus magna, hendrerit aliquet ante dapibus in. Morbi hendrerit enim libero, aliquam posuere tellus dictum non. Cras diam elit, laoreet sit amet rutrum sed, accumsan eu ipsum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam diam a ex elementum rhoncus. Vivamus eget cursus ipsum. Ut mollis viverra lectus, dictum congue est cursus ut. Mauris sed condimentum tellus. Nam dapibus nunc id odio commodo tempor. Sed ultrices egestas est, eu molestie arcu rhoncus ut. Vivamus tincidunt enim a convallis viverra. Nulla facilisi. Curabitur a dui porttitor, pulvinar erat ac, sollicitudin leo. Nam fringilla turpis laoreet ipsum feugiat molestie. Pellentesque diam nisl, hendrerit at cursus sed, vestibulum nec felis. Pellentesque ornare auctor magna eget facilisis. Sed vitae nunc bibendum, facilisis velit eu, egestas metus. Suspendisse fermentum dui vel finibus gravida. Donec gravida placerat dapibus. Nulla nisi lorem, faucibus elementum eleifend sed, finibus eu tortor.

        Pellentesque ut justo nisl. Nulla posuere erat sed scelerisque ultricies. Praesent a ultricies justo. Morbi pellentesque tempor bibendum. Nulla mattis tellus ac justo ornare, quis luctus justo sollicitudin. Proin non est et tortor porttitor malesuada. Proin id blandit massa, non ornare urna. Mauris gravida consectetur nulla at molestie. Praesent maximus velit tincidunt leo rhoncus, sed ultricies lorem lacinia. Suspendisse vel tortor lacinia, laoreet lacus eu, finibus arcu. Donec volutpat sed diam vel tempus. Quisque molestie porta luctus. Donec porttitor egestas tempus.
    .row
      .small-12.columns
        %h3{"data-magellan-destination" => "one"}
        %a{name: "one"}
          one
    .row{style:"background-color: blue;"}
      .small-12.large-12.columns

        Quisque vitae laoreet sem, pulvinar aliquet odio. Aenean convallis congue dui a faucibus. Duis id mauris ut tortor cursus finibus. Pellentesque non erat elementum, congue nulla non, molestie ligula. Nunc cursus imperdiet velit. Ut vitae tempus sapien. Aenean eu placerat velit. In ut molestie orci, vel hendrerit dui. Praesent consequat, ipsum et feugiat pellentesque, dolor magna varius est, et egestas turpis diam ut ligula. Nam et cursus mi, dapibus iaculis turpis. Ut sed erat odio. Sed ultricies gravida luctus.

        In dignissim rhoncus ipsum. In faucibus mi tortor, a efficitur magna mollis congue. Suspendisse at eleifend lacus, vel consequat leo. Vivamus sit amet consectetur nunc. Etiam eget suscipit neque. Aliquam convallis malesuada viverra. Phasellus ut tincidunt libero. Morbi nec mi id lectus ornare eleifend.

        Sed eget maximus velit. Praesent dapibus quam sit amet lacus lacinia, quis imperdiet tellus maximus. In quis risus vitae tellus varius accumsan. Nulla gravida purus ante, mattis malesuada tortor mollis in. Nullam mauris mi, ullamcorper id diam nec, tristique venenatis lorem. Pellentesque convallis interdum vehicula. Nullam est purus, pretium tristique quam ultricies, condimentum eleifend metus. Sed interdum est dolor, non vehicula ex blandit a. Quisque sed odio ut diam sollicitudin scelerisque. In imperdiet quam magna, vitae varius nibh tincidunt in. In mollis quam non ante tempus, sit amet luctus mauris semper. Maecenas sagittis augue at felis euismod, a tempus lacus semper. Pellentesque pretium maximus magna, hendrerit aliquet ante dapibus in. Morbi hendrerit enim libero, aliquam posuere tellus dictum non. Cras diam elit, laoreet sit amet rutrum sed, accumsan eu ipsum.
    .row
      .small-12.columns
        %h3{"data-magellan-destination" => "two"}
        %a{name: "two"}
          two
  %script{src: "./../js/application.js"}